body {
background-color: #f8f9fa;
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
}
.error-container {
text-align: center;
}
.error-code {
font-size: 6rem;
font-weight: bold;
color: #dc3545;
}
.error-message {
font-size: 1.5rem;
color: #6c757d;
}
.btn-home {
margin-top: 20px;
}
